/* IMPORT VARIABLES */
@import "./variables.css";
@import "./reset.css";

/* STICKY FOOTER */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 6px 8px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.btn-primary {
  background-color: var(--main-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

/* HOME PAGE */
#site-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BANNER */
#banner {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: .9rem;
}


/* HEADER */
.header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-logo {
  font-size: 2rem;
  color: var(--main-color);
  width: 100px;
}

.header-logo img {
  width: 100%;
  height: auto;
}

.header-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  margin: 0px 5px;
  color: var(--secondary-color);
  font-family: var(--main-font);
}

/* FOOTER */

.footer {
  background-color: var(--ternary-color);
  width: 100%;
}

.footer-container {
  min-height: 150px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: white;
  font-family: var(--main-font);
}

/* MAIN CONTENT */

/* Featured Component */
.home-featured {
  border-top: 1px solid var(--bg-blue);
  /* border-bottom: 1px solid var(--bg-blue); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  background-image: url("../assets/circle2.svg");
  background-position-x: 58%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px;
  text-align: center;
}

.featured-item {
  /* height: 350px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featured-month {
  height: 25px;
  width: auto;
  padding: 10px;
  background-color: gold;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: .9rem;
  font-weight: bold;
  color: var(--ternary-color);
  position: absolute;
  top: 15px;
  left: 15px;
}

.featured-title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-title {
  margin: 2px 0;
  font-family: var(--main-font);
  font-size: 1.6em;
  font-weight: bold;
  color: var(--ternary-color);
  margin-top: 60px;
}

.featured-tagline {
  margin: 10px 0;
  font-style: italic;
  font-size: 1.1rem;
  /* font-weight: bold; */
  margin-bottom: 20px;

}

.featured-btn {
  margin: 15px 0;
}

.featured-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-attributes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.featured-attribute {
  margin: 4px 0;
  /* font-family: var(--main-font); */
  /* font-weight: bold; */
  /* font-style: italic; */
  font-size: 1.1rem;
  /* color: var(--ternary-color); */
}

.attribute-link {
  font-style: italic;
  font-weight: 600;
  font-size: .9rem;
  margin: 8px 0;
  color: black;
}

/* WRENCH SECTION */
.wrench-container {
  width: 100%;
  padding: 0 10px;
}

.wrench-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrench-description {
  width: 100%;
  padding: 0 2rem;
  font-family: var(--main-font);
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.4;
  background-image: url("../assets/left-quote-gradient.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  order: 1;
}

.wrench-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  order: 0;
  margin-bottom: 10px;
}

.wrench-image {
  width: 100%;
  height: auto;

}

.wrench-rating {
  width: 175px;
  height: auto;
}

.buy-btn-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

/* PENDANT SECTION */
.pendant-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--bg-blue);
  border-bottom: 1px solid var(--bg-blue);
  padding-top: 2.5rem;
  margin-bottom: 3rem;
  padding: 2.5rem 10px 0 10px;
}

.pendant-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
}

.pendant-title {
  margin: 5px 0;
  font-family: var(--main-font);
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
}

.pendant-subtitle {
  color: var(--secondary-color);
  margin: 3px 0;
  font-style: italic;
  font-size: 1rem;
  font-weight: bold;
}

.pendant-description-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.description-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pendant-description {
  width: 100%;
  padding: 0 1rem;
  font-family: var(--main-font);
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.4;
  background-image: url("../assets/left-quote-gradient.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pendant-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.pendant-img {
  width: 70%;
  height: auto;
}

/* SHIPPING */
.shipping-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
}

.shipping-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.shipping-img {
  width: 90%;
  height: auto;
}

.shipping-title {
  margin: 5px 0;
  font-family: var(--main-font);
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--main-color);
}

.promise {
  margin: 16px 0;
  font-family: var(--main-font);
  font-size: 1.25rem;
  /* font-weight: bold; */
  color: var(--secondary-color);
  font-style: italic;
}

.promise-learn {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.blue-btn {
  background-color: var(--main-color);
}

/* MEDIA QUERIES */

/* Extra small */

@media (min-width: 375px) {
  #banner {
    font-size: 1.04rem;
  }

  .featured-title {
    font-size: 1.8rem;
  }

  .featured-tagline {
    font-size: 1.35rem;
  }

  .featured-attribute {
    font-size: 1.25rem;
    margin-bottom: 7px;
  }

  .attribute-link {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .wrench-description {
    font-size: 1.25rem;
  }

  .pendant-title {
    font-size: 1.8rem;
  }

  .pendant-subtitle {
    font-size: 1.35rem;
    font-weight: 100;
  }

  .pendant-description {
    font-size: 1.25rem;
  }

  .shipping-title {
    font-size: 1.9rem;
  }

  .promise {
    font-size: 1.35rem;
  }

}

/* Small devices */

@media (min-width: 576px) {
  .featured-title {
    font-size: 2.5rem;
  }

  .pendant-title {
    font-size: 2.5rem;
  }

  .shipping-title {
    font-size: 2.5rem;
  }

  .promise {
    font-size: 1.85rem;
  }
}

/* Medium devices */


/* Large devices */

@media (min-width: 768px) {
  .wrench-description {
    width: 50%;
  }

  .wrench-img-container {
    width: 50%;
  }

  .featured-title-container {
    width: 50%;
  }

  .featured-product {
    width: 50%;
  }

  .pendant-img-box {
    width: 50%;
  }

  .description-box {
    width: 50%;
  }

  .home-featured {
    background-image: url("../assets/circle.svg");
  }
}

@media (min-width: 992px) {
  .pendant-description {
    width: 60%;
  }

  .wrench-description>p {
    width: 70%;
  }
}

/* Extra large */

@media (min-width: 1200px) {
  .Site-content {
    width: 1300px;
  }
}